<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8" />
  <meta name="description" content="My journey through monster hunter" />
  <meta name="author" content="Johnathan Reese" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css">
</head>

<body>
  <header role="banner" class="primary">
    <div id="ribbon">
    <h1><a href="../index.html">My Monster Hunter Experience</a></h1>
    <nav role="navigation">
      <ul>
        <li><a href="about.html">About Hunter</a></li>
        <li><a href="highlights.html">Hunter Highlights</a></li><!--Clips & pics-->
        <li><a href="contactme.html">Contact Me</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </nav>
  </div>
  </header>
  <main>
<form id="login-registerform">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>
</form>
    <button id="loginbutton">Submit</button>
  <footer id="loginfooter" role="contentinfo">
    <h6>&copy; 2025 Johnathan Reese</h6>
  </footer>  
  </main>  
</body>

</html>